In [9]:
import pandas as pd
from io import StringIO
import requests

In [31]:
# Reading from website

In [26]:
url= "https://raw.githubusercontent.com/alokproc/data-index.html/main/university-2.csv"

In [27]:
s=requests.get(url).text

In [29]:
data= pd.read_csv(StringIO(s))

In [30]:
data

,University,SAT,Top10,Accept,SFRatio,Expenses,GradRate
0,Harvard University,1310,89,22,13,22704,94
1,California Institute of Technology,1415,100,25,6,63575,81
2,Massachusetts Institute of Technology,1260,62,59,9,25026,72
3,Stanford University,1310,76,24,12,31510,88
4,Princeton University,1280,83,33,13,21864,90
...,...,...,...,...,...,...,...
95,University of Arizona,1329,78,24,14,35075,88
96,University of Basel,1263,88,28,18,52464,82
97,"University of Maryland, College Park",1226,78,26,23,59576,83
98,Dartmouth College,1249,89,26,25,51763,88
99,Technical University of Munich,1272,87,25,17,46993,80

In [ ]:
# Reading from local system

In [7]:
data=pd.read_excel('/Users/admin1/Downloads/university-2.xlsx')

In [13]:
data.info()

<class 'pandas.core.frame.DataFrame'>
RangeIndex: 100 entries, 0 to 99
Data columns (total 7 columns):
 #   Column      Non-Null Count  Dtype
---  ------      --------------  -----
 0   University  100 non-null    object
 1   SAT         100 non-null    int64
 2   Top10       100 non-null    int64
 3   Accept      100 non-null    int64
 4   SFRatio     100 non-null    int64
 5   Expenses    100 non-null    int64
 6   GradRate    100 non-null    int64
dtypes: int64(6), object(1)
memory usage: 5.6+ KB